@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

/*----------HEADER----------*/
.header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper-bg{
    width: 100%;
    height: 100%;
    background-color: rgb(60, 184, 255);
}

.img-wrapper-bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .9;
    animation: zoom 25s;
}

@keyframes zoom{
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}


.menu{
    width: 400px;
    position: absolute;
    top: 5%;
    left: 50%;
    transform:translate(-50%, -50%); 
    color: white;
    font-size: 1.2em;
}

.menu li{
    display: inline;
    margin-left: 1.5em;
}
.menu li a{
    color: white;
}

.menu a:hover{
    color: rgb(60, 184, 255);
    cursor: pointer;
    transition: .3s;
}

.header-apresentacao{
    width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%); 
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(65, 65, 65);
}

.header-apresentacao h1{
    font-size: 6em;
    border-bottom: 1px solid rgb(60, 184, 255);
}

.header-apresentacao p{
    font-style: italic;
    font-size: 1.3em;
    color: rgba(255, 255, 255, 0.733);
}

/*----------SOBRE----------*/

.sobre{
    width: 100%;
    padding-top: 5em;
    padding-bottom: 5em;
    background: url('img/bg3.jpg') center top;
    background-size:cover;
    object-fit: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.flex-a{
    width: 600px;
    display: flex;
    padding-bottom: 2em;
}

.flex-b{
    width: 600px;
    display: flex;
}


.card-left {
    width: 100%;
    height: 500px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    line-height: 2.5em;
    border-left: 1px solid rgb(194, 194, 194);
    border-right: 1px solid rgb(194, 194, 194);
    border-bottom: 11px solid rgb(194, 194, 194);
    border-radius: 50px;
}

.card-left:hover{
    transition: .3s;
    box-shadow: 7px 7px 10px rgb(80, 80, 80);
    border-top:1px solid rgb(194, 194, 194) ;
}


.img-wrapper-sobre{
    width: 200px;
    height: 200px;
    margin: 10px auto;
    background-color: rgb(136, 136, 136);
    border-radius: 300px;
    box-shadow: 0px 0px 0px px rgb(60, 184, 255);
    
}

.img-wrapper-sobre img{
    width: 200px;
    height: 200px;
    border-radius: 300px;
    text-align: center;
}

.list-A{
    width: 50%;
    float: left;
    font-size: 1.1em;
    font-weight: 700;
    border-right: 2px solid rgb(60, 184, 255);;
    margin-bottom: 2em;
}

.list-B{
    width: 49%;
    float: right;
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 2em;
}

.social-media a{
    font-size: 2.5em;
    margin-left: 2em;
    color: black;
}
.social-media a:nth-child(1) {margin-left: 0;}

.social-media a:hover{
    transition: .3s;
    color: rgb(60, 184, 255);
}

.card-right{
    width: 100%;
    height: 500px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    line-height: 2.5em;
    border-left: 1px solid rgb(194, 194, 194);
    border-right: 1px solid rgb(194, 194, 194);
    border-bottom: 11px solid rgb(194, 194, 194);
    border-radius: 50px;
}

.card-right:hover{
    transition: .3s;
    box-shadow: 7px 7px 10px rgb(80, 80, 80);
    border-top:1px solid rgb(194, 194, 194) ;
}

.card-right h2{
    width: 300px;
    font-size: 3em;
    color: rgb(0, 0, 0);
    margin: 1em auto;
    border-bottom: 2px solid rgb(60, 184, 255);
    padding-bottom: 15px;
   
}
.card-right span{
   font-size: 2em;
}

.card-right p{
    text-align: center;
    font-size: 1.3em;
    line-height: 1.4em;
    padding: 1em 2em 3em 2em  ;
}

.btn{
    width: 170px;
    height: 40px;
    color: rgb(255, 255, 255);
    font-size: 1.1em;
    font-weight: 600;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 15px;
}

.btn:hover{
    transition: .3s;
    background-color: rgb(60, 184, 255);
    box-shadow: 7px 7px 10px rgb(80, 80, 80);
}


/*----------PROJETOS----------*/
.projetos{
    width: 100%;
    min-height: 750px;
    background: url('img/bginv.jpg') bottom;
    background-size:cover;
    object-fit: cover;
}

.projetos-title{
    width: 100%;
    font-size: 3em;
    color: rgb(60, 184, 255);
    text-align: center;
    margin: 1em auto;
}
.projetos-box{
    display: flex;
    justify-content: center;
    align-items: center;  
}

.container{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.card{
    position: relative;
    max-width: 300px;
    height: 235px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgb(0, 0, 0,0.5);
    transition: .3s ease-in-out;
    
}

.card:hover{
    height: 450px;
    transition: .3s;
}

.card img-bx{
    position: relative;
    width: 260px;
    height: 260px;
    top:-60px;
    left: 20px;
    box-shadow: 0 5px 20px rgb(0, 0, 0,0.2);
}

.img-bx img{
    max-width: 100%;
    border-radius: 4px;
}

 .content{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.content h2{
    font-size: 1.5em;
    color: rgb(60, 184, 255);
    border-bottom: 1px solid rgb(60, 184, 255);
    padding-bottom: 15px;
    margin: .5em auto;
}

.content p{
    margin: 2em auto;
}

.container .card:hover .content{
    transition: .3s;
    visibility:visible;
    opacity: 1;
    margin-top: 10px;
    transition-delay: 0.3s;
}

/*----------FOOTER----------*/

.footer{
    text-align: center;
    background: rgb(0, 0, 0);
}

.footer h3{
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    padding: 1em 0;
    color:  rgb(255, 255, 255);;
}

.footer a{
    font-family: 'Lato', sans-serif;
    color:  rgb(60, 184, 255);
    font-weight: 400;
    cursor: pointer;
}

#link-topo{
    position: fixed;
    width:1.2em;
    height: 1.2em;
    align-content: center;
    font-size: 3em;
    bottom: 1%;
    left: 95%;
    color: rgb(60, 184, 255);
    background-color: rgb(255, 255, 255);
    border-radius: 101em;
    justify-content: center;
    align-items: center;
    display: flex;
}