@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Lato', sans-serif;
}


.header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper-bg{
    width: 100%;
    height: 100%;
    background-color: black;
}

.img-wrapper-bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .5;
}

.menu{
    width: 400px;
    position: absolute;
    top: 5%;
    left: 50%;
    transform:translate(-50%, -50%); 
    color: white;
    font-size: 1.2em;
}

.menu li{
    display: inline;
    margin-left: 1.5em;
}

.menu li:hover{
    color: rgb(60, 184, 255);
    cursor: pointer;
}

.header-apresentacao{
    width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%); 
    color: white;
    text-align: center;
}

.header-apresentacao h1{
    font-size: 6em;
    border-bottom: 1px solid rgb(60, 184, 255);;
}

.header-apresentacao p{
    font-style: italic;
    font-size: 1.3em;
    color: rgba(255, 255, 255, 0.733);
}

/*sobre*/

.sobre{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    padding-top: 5em;
    display: flex;
    justify-content:space-evenly;
}

.card-left {
    width: 45%;
    height: 500px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    line-height: 2.5em;
    border-left: 1px solid rgb(194, 194, 194);
    border-right: 1px solid rgb(194, 194, 194);
    border-bottom: 11px solid rgb(194, 194, 194);
    border-radius: 50px;
}

.card-left:hover{
    box-shadow: 7px 7px 10px rgb(80, 80, 80);
    border-top:1px solid rgb(194, 194, 194) ;
}


.img-wrapper-sobre{
    width: 200px;
    height: 200px;
    margin: 10px auto;
    background-color: rgb(136, 136, 136);
    border-radius: 300px;
    box-shadow: 0px 0px 0px 3px rgb(60, 184, 255);
    
}

.img-wrapper-sobre img{
    width: 200px;
    height: 200px;
    border-radius: 300px;
    text-align: center;
}

.list-A{
    width: 50%;
    float: left;
    font-size: 1.1em;
    font-weight: 700;
    border-right: 2px solid rgb(60, 184, 255);;
    margin-bottom: 2em;
}

.list-B{
    width: 49%;
    float: right;
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 2em;
}

.social-media a{
    font-size: 2.5em;
    margin-left: 2em;
    color: black;
}
.social-media a:nth-child(1) {margin-left: 0;}

.social-media a:hover{
    color: rgb(60, 184, 255);
}

.card-right{
    width: 45%;
    height: 500px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    line-height: 2.5em;
    border-left: 1px solid rgb(194, 194, 194);
    border-right: 1px solid rgb(194, 194, 194);
    border-bottom: 11px solid rgb(194, 194, 194);
    border-radius: 50px;
}

.card-right:hover{
    box-shadow: 7px 7px 10px rgb(80, 80, 80);
    border-top:1px solid rgb(194, 194, 194) ;
}

.card-right h2{
    width: 300px;
    font-size: 3em;
    color: rgb(60, 184, 255);
    margin: 1em auto;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding-bottom: 15px;
   
}

.card-right p{
    text-align: center;
    font-size: 1.3em;
    line-height: 1.4em;
    padding: 1em 2em  ;
}

.card-right button{
    width: 170px;
    height: 40px;
    color: rgb(255, 255, 255);
    font-size: 1.1em;
    font-weight: 600;
    margin-top: 4em;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 15px;
}

.card-right button:hover{
    background-color: rgb(60, 184, 255);
    box-shadow: 7px 7px 10px rgb(80, 80, 80);
}


